@using (Html.BeginForm("usersList", "AdminPanel", FormMethod.Get)) ;
@using (Html.BeginForm("roleList", "AdminPanel", FormMethod.Get)) ;

<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangeRole">
            <div class="form-group">
                <label class="control-label"> Select user</label>
                <select name="userId" class="form-control" asp-items="@ViewBag.usersList"></select>
            </div>

            <div class="form-group">
                <label class="control-label"> Select new role</label>
                    <select name="newRole" class="form-control" asp-items="@ViewBag.roleList"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
