@using Microsoft.AspNetCore.Identity;

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<style>

    .add
    {
        height:70vh;
    }
    .cstmbtn
    {
        width 50%;
    }
</style>


@{
    ViewData["Title"] = "Home Page";
}

@if (!SignInManager.IsSignedIn(User))
{
        <br>
        <br>

    <div class="container text-center">
        <div class="row">
            <div class="col-sm-4">
                <button class="btn btn-outline-dark" id="login" style="width:300px; margin-top:20%;">Login</button><br><br>
                <button  class="btn btn-outline-dark"id="register" style="width:300px;">Register</button>
            </div>

            <div class="col-sm-8" id="content" style="paddnig-top:10%;">
            </div>
        </div>
    </div>


}
else
{
    <div class="container text-center">
        <div class="row">
            <div class="col border"><h2>Errors</h2></div>
            <div class="col border"><h2>Warnings</h2></div>

            <div class="w-100"></div>

                    <div class="col border"><div class="add">@await Html.PartialAsync("../DatabaseViews/_ErrorPartial.cshtml")</div></div>
                    <div class="col border"><div class="add">@await Html.PartialAsync("../DatabaseViews/_WarningPartial.cshtml")</div></div>

            <div class="w-100"></div>

            <div class="col" style="margin-top:1%;">
                    <a class="w-100 btn btn-outline-dark" asp-controller="CRUD" asp-action="CreateError">Add error</a>
            </div>
            <div class="col" style="margin-top:1%;">
                    <a class=" w-100 btn btn-outline-dark" asp-controller="CRUD" asp-action="CreateWarning">Add warning</a>
            </div>
        </div>
    </div>
}